.pokemonList{
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.pokemonList img{
    width: 125px;
    height: 125px;
}

.releaseButton{
    right: 75px;
}

.releasePokemon {
    animation: release 0.25s infinite;
    cursor: pointer;
}

@keyframes release {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(5px, 5px) rotate(5deg); }
    50% { transform: translate(0, 0) rotate(0eg); }
    75% { transform: translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}