#gameScreen{

    height: 75%;
    width: 50%;

    padding: 2em;
    margin-top: 2em;
    
    border: 5px;
    border-style: solid;
    border-color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-size: cover;
    background-position: center;
}

.randomPokemon img{
    height: 75%;
    width: 25%;
}