#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-align: center;
}
#gameScreen{

  height: 75%;
  width: 50%;

  padding: 2em;
  margin-top: 2em;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-size: cover;
  background-position: center;
}

.default-frame{

  border: 10px solid #52506e;
  border-radius: 5px;
}

.fireRed-frame{
  border: 10px solid #d04028;
  border-radius: 5px;
}

.leafGreen-frame
{
  border: 10px solid #38ae40;
  border-radius: 5px;
}

.purple-frame
{
  border: 18px ridge #92ABEF;
}

.double-frame
{
  border: 10px double #000000;
  border-radius: 5px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
