#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-align: center;
}

#gameScreen{

  height: 75%;
  width: 50%;

  padding: 2em;
  margin-top: 2em;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-size: cover;
  background-position: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
