#gameMenu{
    width: 100%;
    padding-left: 1em;
}

#gameMenu nav{
    display: flex;
}

#optionsFont, #optionsFrame{
    margin-left: 1em;
}

.pokemonTeam{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}