#gameMenu{
    width: 100%;
    padding-left: 1em;
}

#gameMenu nav{
    display: flex;
}

#optionsFont, #optionsFrame{
    margin-left: 1em;
}

.pokemonTeam{
    display: flex;
    align-items: center;
    width: 50%;
}

.playerIcon{
    display: flex;
    align-items: center;
    color: white;
    margin: 0, 1em, 0, 1em
}

.playerIcon span{
    margin-right: .5em;
}

.playerIcon strong{
    color: red
}